@font-face {
    font-family: theblacklist;
    src: url("../src/theblacklist.ttf") format('truetype');
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
}

header{
    text-align: center;
    background-color: #1D1D1D;
    color: white;
    padding-bottom: 30px;
}

footer{
    color: white;
    background-color: #1D1D1D;
    text-align: center;
    padding: 15px;
}

section{
    text-align: center;
    margin-top: 50px;
}


h1{
    font-family: 'theblacklist', sans-serif;
    margin-top: 0;
    padding-top: 30px;
}

h2{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    width: 400px;
    margin: auto;
}



h3:before{
    content: "« ";
    color: grey;
}
h3{
    font-size: 1.5em;
    text-transform: uppercase;
    
}
h3:after{
    content: " »";
    color: grey;
}

nav {
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    text-align: center;
    padding: 15px; 
}

ul{
    display: inline;
    padding: 0;   
}

li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}


a:hover {
    font-weight: bold;
}

.contact{
    border: 1px black solid;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 50px;
}

.separator{
    width: 40px;
    height: 1px;
    margin: 15px auto;
    display: block;
    background-color: #999999;
}

.contener{
    width: 80%;
    margin: auto;
}

#projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.projet{
    width: 400px;
    margin: 30px;
    display: inline-block;
    background: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}

.projet:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.5s;
}

.projet img{
    min-width: 400px;
    width: 90%;
    height: 266px;
}

.projet span{
    text-transform: uppercase;
}

.picture {
    width: 400px;
    height: 266px;
    overflow: hidden;
    margin-bottom: 20px;
}


@media all and (max-width: 1000px){
    .projet {width: 100%; margin: 15px auto;}
    .projet img {width: 100%; min-width: auto; height:auto;}
    .projet .picture {width: 100%; height:auto;}
    header h2 {width: 90%;}
    
}